<div class="row align-items-start">

    <div class="col">
        <h4>Light</h4>
        <div class="row align-items-start">
            <div><span class="material-symbols-outlined">lightbulb</span> On</div>
            <div><span class="material-symbols-outlined">light_mode</span> Intensity Mode 100%</div>
        </div>
    </div>

    <div class="col">
        <h4>Door</h4>
        <div class="row align-items-start">
            <div><span class="material-symbols-outlined">door_front</span> Closed</div>
        </div>
    </div>

    <div class="col">
        <h4>Thermostat</h4>
        <div class="row align-items-start">
            <div><span class="material-symbols-outlined">heat_pump</span> Off</div>
            <div><span class="material-symbols-outlined">device_thermostat</span> Set Temperature</div>
        </div>
    </div>

</div>