<h4>Sensors</h4>
<h5>Sensor 1 <span class="material-symbols-outlined">sensors</span></h5>

<div class="row align-items-start">
<div class="col"><span class="material-symbols-outlined">device_thermostat</span> Temperature 19.0°C</div>
<div class="col"><span class="material-symbols-outlined">humidity_percentage</span> Humidity 49%</div>
</div>

</div>