<h4><b>Sensors</b></h4>
<h5>Sensor 1 <span class="material-symbols-outlined">sensors</span></h5>
<div class="row align-items-start">
<div><span class="material-symbols-outlined">device_thermostat</span> Temperature 19.0째C</div>
<div><span class="material-symbols-outlined">humidity_percentage</span> Humidity 49%</div>
<br/>
</div>
<h5>Sensor 2 <span class="material-symbols-outlined">sensors</span></h5>
<div class="row align-items-start">
<div><span class="material-symbols-outlined">device_thermostat</span> Temperature 19.1째C</div>
<div><span class="material-symbols-outlined">humidity_percentage</span> Humidity 50%</div>
<br/>
</div>
<h5>Sensor 3 <span class="material-symbols-outlined">sensors</span></h5>
<div class="row align-items-start">
<div><span class="material-symbols-outlined">device_thermostat</span> Temperature 19.0째C</div>
<div><span class="material-symbols-outlined">humidity_percentage</span> Humidity 49%</div>
</div>
<h5>Sensor 4 <span class="material-symbols-outlined">sensors</span></h5>
<div class="row align-items-start">
<div><span class="material-symbols-outlined">device_thermostat</span> Temperature 19.1째C</div>
<div><span class="material-symbols-outlined">humidity_percentage</span> Humidity 50%</div>
</div>