<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% include 'includes/head.html' %}
    <style>
        .header {
            background-color: #FFFFFF;
        }
        .background {
            background-color: #FFFFFF;
        }
        </style>
</head>
<body id="body-pd" class="background">
    {% include 'includes/header.html' %}
    {% include 'includes/sidebar.html' %}
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>