{% extends 'base.html' %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <h1>{% block title %} History {% endblock %}</h1>
    <div id="wrapper"></div>
    <script>
    const html = gridjs.html;
    var nodesData = [];

    new gridjs.Grid({
        columns: [
        {
            name: 'Node ID'
        },
            'X-Position', 'Y-Position',
        {
            name: 'Actions',
            formatter: (_, row) => html(`<a style='padding: 2px; border: 1px solid #ccc;border-radius: 4px;' href="/view?nodeId=${row.cells[0].data}" class="btn btn-primary rounded"> View Data</a>`)
            },
        ],
        data: [
    [1, 1, 1],
    [2, 2, 2],
    [3, 3, 3],
    [4, 4, 4]
    ]
      }).render(document.getElementById("wrapper"));
    </script>

{% endblock %}