{% extends 'base.html' %}

{% block content %}
    <div class="row align-items-start">
        <div class="col">
            <div class="room">
                <h4><b>Room</b></h4>
                <div id="map"></div>
            </div>
        </div>
            {% include 'includes/home-charts.html' %}
    </div>
    {% include 'includes/scripts.html' %}
    <script src="../static/js/home-charts.js"></script>
    <script src="../static/js/map.js"></script>
    <script src="../static/js/marker.js"></script>
{% endblock %}