{% extends 'base.html' %}

{% block content %}
    {% include 'includes/regression-scripts.html' %}
    <div class="row">
        <div class="col-sm-2 p-2 ml-4 mb-2">
          <label for="month_picker">Select Month</label>
        </div>
        <div class="col-sm-4 p-2 mr-4 mb-1">
          <input type="month" id="month_picker" name="month_picker" min="2023-05" max="2023-09" value="2023-09" /> 
        </div>
        <div class="col-sm-4 p-2 mr-4 mb-1">
            <h4 id="text"></h4>
        </div>
      </div>
    <div class="row align-items-start">
        <div id="graph" style="width:90%;height:400px;"></div>
    </div>
    <div class="row align-items-start">
        <div id="table" style="width:90%;height:400px;"></div>
    </div>
    <script>
        graph = document.getElementById('graph');
        url = '/predict'
        var layout = {
            title: {
                text:'Temperature Readings for September 2023',
                font: {
                family: 'Arial, monospace',
                size: 24
                },
                xref: 'paper',
                x: 0.05,
            },
            xaxis: {
                title: {
                text: 'Time of Reading',
                font: {
                    family: 'Arial, monospace',
                    size: 18,
                    color: '#000000'
                }
                },
            },
            yaxis: {
                title: {
                text: 'Temperature (°C)',
                font: {
                    family: 'Arial, monospace',
                    size: 18,
                    color: '#000000'
                }
                }
            }
        };
        $.getJSON(url, 
        {month: 9}
        ,function(response) {
                data = response;
                var actualData = {
                    x: data['actual']['x'],
                    y: data['actual']['y'],
                    name: 'Sensor Readings',
                    type: 'scatter'
                };

                var cyclicData = {
                    x: data['cyclic']['x'],
                    y: data['cyclic']['y'],
                    name: 'Sine/Cosine Transformation',
                    type: 'scatter'
                };

                var plotData = [actualData, cyclicData]

                var values = data['predicted'];

                Plotly.newPlot( graph, plotData, layout);

                var title = {
                title: "Predicted Temperature Values for September 2023",
                font: {
                            family: 'Circular STD, monospace',
                            size: 24
                            },
                            xref: 'paper',
                            x: 0.05,
                }

                var data = [{
                type: 'table',
                columnwidth: [1000,700],
                header: {
                    values: [["Time"], ["12:00 AM"],
                                ["1:00 AM"], ["2:00 AM"], ["3:00 AM"], ["4:00 AM"],
                                ["5:00 AM"], ["6:00 AM"], ["7:00 AM"], ["8:00 AM"],
                                ["9:00 AM"], ["10:00 AM"], ["11:00 AM"], ["12:00 PM"],
                                ["1:00 PM"], ["2:00 PM"], ["3:00 PM"], ["4:00 PM"],
                                ["5:00 PM"], ["6:00 PM"], ["7:00 PM"], ["8:00 PM"],
                                ["9:00 PM"], ["10:00 PM"], ["11:00 PM"]],
                    align: "center",
                    line: {width: 1, color: 'black'},
                    fill: {color: "grey"},
                    font: {family: "Circular STD", size: 15, color: "white"}
                },
                cells: {
                    values: values,
                    align: "center",
                    line: {color: "black", width: 1},
                    font: {family: "Circular STD", size: 15, color: ["black"]}
                }
                }];

                Plotly.newPlot('table', data, title);
        });
    </script>
    <script>
        const monthSelect = document.querySelector("#month_picker");
        const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        var values = [];
        monthSelect.onchange = () => {
                // var x = document.getElementById("text");
                myDate = new Date(monthSelect.value + "-01");
                var year = myDate.getFullYear();
                var month = myDate.getMonth() + 1;
                title = 'Temperature Readings for ' + months[myDate.getMonth()] + ' ' + myDate.getFullYear();
                var layout = {
                title: {
                    text: title,
                    font: {
                    family: 'Circular STD, monospace',
                    size: 24
                    },
                    xref: 'paper',
                    x: 0.05,
                },
                xaxis: {
                    title: {
                    text: 'Time of Reading',
                    font: {
                        family: 'Circular STD, monospace',
                        size: 18,
                        color: '#000000'
                    },
                    tickformat: '%d %B<br>%H:%M',
                    nticks: 11
                    },
                },
                yaxis: {
                    title: {
                    text: 'Temperature (°C)',
                    font: {
                        family: 'Circular STD, monospace',
                        size: 18,
                        color: '#000000'
                    }
                    }
                }
            };
            url = '/predict';
            
            $.getJSON(url, 
                {month: month},
                function(response) {
                data = response;
                var actualData = {
                    x: data['actual']['x'],
                    y: data['actual']['y'],
                    name: 'Sensor Readings',
                    type: 'scatter'
                };

                var cyclicData = {
                    x: data['cyclic']['x'],
                    y: data['cyclic']['y'],
                    name: 'Sine/Cosine Transformation',
                    type: 'scatter'
                };

                var values = data['predicted'];

                var plotData = [actualData, cyclicData]

                Plotly.newPlot( graph, plotData, layout);

                var titlestr = "Predicted Temperature Values for " + months[myDate.getMonth()] + ' ' + myDate.getFullYear();
                var title = {
                title: titlestr,
                font: {
                            family: 'Circular STD, monospace',
                            size: 24
                            },
                            xref: 'paper',
                            x: 0.05,
                }

                var data = [{
                type: 'table',
                columnwidth: [1000,700],
                header: {
                    values: [["Time"], ["12:00 AM"],
                                ["1:00 AM"], ["2:00 AM"], ["3:00 AM"], ["4:00 AM"],
                                ["5:00 AM"], ["6:00 AM"], ["7:00 AM"], ["8:00 AM"],
                                ["9:00 AM"], ["10:00 AM"], ["11:00 AM"], ["12:00 PM"],
                                ["1:00 PM"], ["2:00 PM"], ["3:00 PM"], ["4:00 PM"],
                                ["5:00 PM"], ["6:00 PM"], ["7:00 PM"], ["8:00 PM"],
                                ["9:00 PM"], ["10:00 PM"], ["11:00 PM"]],
                    align: "center",
                    line: {width: 1, color: 'black'},
                    fill: {color: "grey"},
                    font: {family: "Circular STD", size: 15, color: "white"}
                },
                cells: {
                    values: values,
                    align: "center",
                    line: {color: "black", width: 1},
                    font: {family: "Circular STD", size: 15, color: ["black"]}
                }
                }];

                Plotly.newPlot('table', data, title);
            });
        };
    </script>
    {% include 'includes/scripts.html' %}

{% endblock %}