{% extends 'base.html' %}

{% block content %}
<h1 id="title">{% block title %}Viewing Node {{ node }}{% endblock %}</h1>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-sm-3 p-2 ml-4 mb-2">
                <label for="node-choose"><b>Node:</b></label>
            </div>
    
            <div class="col-sm-3 p-2 mr-4 mb-1">
                <select class="form-select form-select-sm" id="node-choose" name="node-choose" onchange="updateChart()">
                    <option value="1">Node 1</option>
                    <option value="2">Node 2</option>
                    <option value="3">Node 3</option>
                    <option value="4">Node 4</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col-sm-3 p-2 ml-4 mb-2">
                <label for="type-choose"><b>Reading type:</b></label>
            </div>
    
            <div class="col-sm-3 p-2 mr-4 mb-1">
                <select class="form-select form-select-sm" id="type-choose" name="type-choose" onchange="updateChart()">
                    <option value="1">Temperature</option>
                    <option value="2">Humidity</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">

            <div class="col-sm-3 p-2 ml-4 mb-2">
                <label for="node-choose"><b>Month:</b></label>
            </div>
  
            <div class="col-sm-4 p-2 mr-4 mb-1">
              <input type="month" id="month_choose" name="month_choose" min="2023-05" max="2023-09" value="2023-09" onchange="updateChart()"/> 
            </div>
  
          </div>
    </div>

</div>

<div class="row p-2 ml-4 mb-2" id="graph_title"><h4>Temperature Readings for Node {{ node }}</h4></div>
<div id="chart"></div>

<script>
    function selectElement(id, valueToSelect) {    
    let element = document.getElementById(id);
    element.value = valueToSelect;
    }

    var nodeId = {{ node }};

    var options = {
            chart: {
                height: 350,
                type: 'area',
            },
            dataLabels: {
                enabled: false
            },
            series: [],
            noData: {
                text: 'Loading...'
            },
            fill: {
                colors: ['#FF0000'],
                type: 'gradient'
            },
            stroke: {
                colors: ['#FF0000']
            },
            xaxis: {
                type: 'datetime',
                labels: {
                    datetimeUTC: false,
                    format: 'dd MMM yyyy HH:mm',
                    show: true,
                    style: {
                        fontSize: '14px',
                        fontFamily: 'Helvetica, Arial, sans-serif',
                        fontWeight: 400,
                        cssClass: 'apexcharts-xaxis-label',
                    }
                },
            },
            yaxis: {
                labels: {
                    style: {
                        fontSize: '14px',
                        fontFamily: 'Helvetica, Arial, sans-serif',
                        fontWeight: 400,
                        cssClass: 'apexcharts-yaxis-label',
                    }
                }
            },
            tooltip: {
                x: {
                    datetimeUTC: true,
                    format: 'dd MMM yyyy HH:mm'
                }
            }
            }

            var chart = new ApexCharts(
            document.querySelector("#chart"),
            options
            );

            chart.render();
            const monthSelect = document.querySelector("#month_choose");
            var date = new Date();
            // The monthSelect value requires a year and month e.g. (2023-10)
            // The inital value is the current year and month
            // The max range is the current year and month i.e. further months cannot be selected
            currentMonth = date.getFullYear() + '-' + (date.getMonth() + 1);
            monthSelect.value = currentMonth;
            monthSelect.max = currentMonth;
            var url = '/graphdata?nodeId=' + nodeId + '&month=' + monthSelect.value;

            fetch(url)
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    var sensorValue = document.getElementById('sensor-choose');
                    var typeValue = document.getElementById('type-choose');
                    chart.updateSeries([{
                        name: typeValue.value,
                        data: data
                    }]);
                })
                .catch((error) => {
                    console.error('Error fetching data:', error);
                });
            
            var nodeValue = document.getElementById("node-choose");
            nodeValue.value = nodeId;
            var typeValue = document.getElementById("type-choose");
            var pageTitle = document.getElementById("title");
            var x = document.getElementById("graph_title");
            var colour = '#FF0000';

            function updateChart(){
                pageTitle.innerText = 'Viewing Node ' + nodeValue.value;
                url = '/graphdata?nodeId=' + nodeValue.value + '&month=' + monthSelect.value + '&readingType=' + typeValue.value;
                var typeName = '';

                if (typeValue.value == '1') {
                        colour = '#FF0000';
                        typeName = "Temperature";
                    } else if (typeValue.value == '2') {
                        colour = '#0096FF';
                        typeName = "Humidity";
                    } else {
                        colour = '#FFC300';
                };
                
                title = typeName + " Readings for Node " + nodeValue.value;
                x.innerHTML = '<h4>' + title + '</h4>';

                fetch(url)
                    .then((response) => response.json())
                    .then((data) => {
                        chart.updateOptions({
                            series: [{
                                name: typeValue.value,
                                data: data
                            }],
                            stroke: {
                                colors: [colour]
                            },
                            fill: {
                                colors: [colour]
                            }
                        });
                    })
                    .catch((error) => {
                        console.error('Error fetching data:', error);
                    });
            }

</script>
{% endblock %}