<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="body-pd">
<header class="header" id="header">
  <%- include('../partials/header'); %>
</header>
  <%- include('../partials/sidebar'); %>
<main>
  <div class="jumbotron">
    <div class="row align-items-start">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
  </div>
</main>
<%- include('../partials/scripts'); %>
</body>
</html>