{% extends 'base.html' %}

{% block main %}
<main>
    <div class="container">
        <br>
    </div>
<div class="container">
  <h3>Sensors</h3>
  <ul class="cards">
    <li class="card">
      <div>
        <h4 class="card-title">Sensor1</h4>
        <div class="card-content">
            <div class="row">
                <div class="col-md">            
                    <i class="fa-solid fa-temperature-half fa-lg"></i> Temperature
                    <p></p>
                    <div class="row">
                        <div class="col-md">
                            <div class="badge badge-danger rounded-pill">Max</div> 27.00 °C
                        </div>
                        <div class="col-md">
                            <div class="badge badge-primary rounded-pill">Min</div> 19.00 °C
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <canvas id="line-chart"></canvas>
            </div>
        </div>
      </div>
      <div class="card-link-wrapper">
        <a href="" class="card-link">View</a>
      </div>
    </li>
    <li class="card">
      <div>
        <h3 class="card-title">Sensor1</h3>
        <div class="card-content">
            <div class="row">
                <div class="col-md">
                    <i class="fa-solid fa-droplet fa-lg"></i> Humidity
                    <p></p>
                  <div class="row">
                        <div class="col-md">
                            <div class="badge badge-danger rounded-pill">Max</div> 52.00 %
                        </div>
                        <div class="col-md">
                            <div class="badge badge-primary rounded-pill">Min</div> 29.00 %
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
          <canvas id="line-chart4"></canvas>
      </div>
        </div>
      </div>
      <div class="card-link-wrapper">
        <a href="" class="card-link">View</a>
      </div>
    </li>
  </ul>
</div>

<div class="container">
        <div class="card">
        <h3 class="card-title">Average</h3> 
            <div class="row">
                <div class="col-md">
                    <canvas id="line-chart2"></canvas>
                </div>
                <div class="col-md">
                    <canvas id="line-chart3"></canvas>
                </div>
            </div>
        </div>
</div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>


const csv = `Time,Temperature
2023-05-17 15:30:39,24.25
2023-05-17 15:37:39,24.25
2023-05-17 16:07:39,23.25
2023-05-17 16:37:39,21.25
2023-05-17 17:07:39,21.25
2023-05-17 17:37:39,20.25
2023-05-17 18:07:39,20.25
2023-05-17 18:37:39,19.25
2023-05-17 19:07:39,19.08
2023-05-17 19:37:39,18.41
2023-05-17 20:07:39,18.2`;

const csv2 = `Time,Humidity
2023-05-17 15:30:39,55
2023-05-17 15:37:39,54
2023-05-17 16:07:39,54
2023-05-17 16:37:39,53
2023-05-17 17:07:39,53
2023-05-17 17:37:39,53
2023-05-17 18:07:39,54
2023-05-17 18:37:39,54
2023-05-17 19:07:39,53
2023-05-17 19:37:39,53
2023-05-17 20:07:39,55`;

const csvToChartData = csv => {
  const lines = csv.trim().split('\n');
  lines.shift(); // remove titles (first line)
  return lines.map(line => {
    var [date, reading] = line.split(',');
    return {
      x: date,
      y: reading
    }
  });
};

var ctx = document.querySelector("#line-chart").getContext('2d');
var ctx2 = document.querySelector("#line-chart2").getContext('2d');
var ctx3 = document.querySelector("#line-chart3").getContext('2d');
var ctx4 = document.querySelector("#line-chart4").getContext('2d');

var tempConfig = {
  type: 'line',
  data: {
    labels: [],
    datasets: [{
      data: csvToChartData(csv),
      label: "Temperature",
      borderColor: "#fc2e05",
      fill: false
    }]
  },
  options: {
    scales: {
    yAxes: [{
        ticks: {
            suggestedMin: 0,
            suggestedMax: 35
        }
    }],
      xAxes: [{
        type: 'time',
        distribution: 'linear',
        unit: 'minute',
        unitStepSize: '30',
        format: "HH:mm",
      ticks: {
        major: {
            enabled: true
          }
        }
      }],
      title: {
        display: false,
      }
    }
  }
};

var humConfig = {
  type: 'line',
  data: {
    labels: [],
    datasets: [{
      data: csvToChartData(csv2),
      label: "Humidity",
      borderColor: "#3e95cd",
      fill: false
    }]
  },
  options: {
    scales: {
    yAxes: [{
        ticks: {
            suggestedMin: 0,
            suggestedMax: 100
        }
    }],
      xAxes: [{
        type: 'time',
        distribution: 'linear',
        unit: 'minute',
        unitStepSize: '30',
        format: "HH:mm",
      ticks: {
        major: {
            enabled: true
          }
        }
      }],
      title: {
        display: false,
      }
    }
  }
};

new Chart(ctx, tempConfig);
new Chart(ctx2, tempConfig);
new Chart(ctx3, humConfig);
new Chart(ctx4, humConfig);

</script>

{% endblock %}
        