<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"	content="SEPA Project Website"/>
        <meta name="keywords"		  content="SEPA"/>
        <meta name="author"			  content="Group21"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

    </head>
        <body>
            <header>
                <h1>Temp And Humid</h1>
            </header>
            <nav>
                <ul class="nav-menu">
                    <li><a href="index" class="active">Dashboard</a></li>
                    <li><a href="control">Control</a></li>
                    <li><a href="notification">Notification</a></li>
                    <li><a href="setting">Setting</a></li>
                    <li><a href="support">Support</a></li>
                </ul>
            </nav>
            <p id="underconst">Under Construction</p>
            </body>
            </html>
